<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <% Song.all.each do |song| %>
  <a href="<%= song.to_slug %>.html"><%= song.name %></a>
  <% end %>
</body>
</html>
