<h1>Welcome to Playlister!</h1>
<h2><a href="artists/index.html">Artist</a> - <%= Artist.all.count %></h2>
<h2><a href="genres/index.html">Genre</a> - <%= Genre.all.count %></h2>
<h2><a href="songs/index.html">Song</a> - <%= Song.all.count %></h2>