<h1>Welcome to Playlister!</h1>
<h2><a href="artist/index.html">Artist</a> - <%= Artist.all.count %></h2>
<h2><a href="genre/index.html">Genre</a> - <%= Genre.all.count %></h2>
<h2><a href="song/index.html">Song</a> - <%= Song.all.count %></h2>